.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80vw;
}

.book-form input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-form button {
  padding: 10px 20px;
  background-color: darkgreen;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-form button:hover {
  background-color: #fff;
  color: darkgreen;
}


#book-submit Form.Group {
 margin-top: 14px;
 margin-bottom: 16px;
}

.form-title {
    font-size: 1.2em; /* Adjust as needed */
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 14px;
  }

  .buttonRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .buttonRow .btn {
    flex: 1 0 auto;
    margin-right: 14px;
    text-align: center;
    min-width: 20px;
  }
  
  .buttonRow .btn:last-child {
    margin-right: 0;
  }